$color-green: #48b774;
$background: #edf9f5;
$color-black: #000000;
$color-orange: #ff8344;
$color-white: #fff;
$color-darkblue: #004e66;
$color-pink: #fdb7b7;
$color-offpink: #ff6c5a;
$color-nightblue: #003342;
